{% load static %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
     <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'Login/weatherForm1.css' %}">

</head>
<body>
<div class="container">
<form action="{% url 'Login:hit'  %} " method="post" id="contact">
    {% csrf_token %}
<div class="form-group">
  <label for="exampleSelect1">Please select the Year:
    <select name = "year" id="exampleSelect1" class ="txt">
        {% for i in year %}
            <option value={{i}}> {{i}}</option>
        {% endfor %}
    </select></label>
</div>
<div class="form-group">
  <label for="exampleSelect1">Please select the Month:
    <select name = "month" id="exampleSelect1" class ="txt">
        <option value='01'>01</option>
                            <option value='02'>02</option>
                            <option value='03'>03</option>
                            <option value='04'>04</option>
                            <option value='05'>05</option>
                            <option value='06'>06</option>
                            <option value='07'>07</option>
                            <option value='08'>08</option>
                            <option value='09'>09</option>
                            <option value='10'>10</option>
                            <option value='11'>11</option>
                            <option value='12'>12</option>
    </select></label>
</div>
<div class="form-group">
  <label for="exampleSelect1">Please select the Day:
    <select name = "day" required="" id="exampleSelect1" class ="txt">
        {% for i in day %}
            <option value={{i}}> {{i}}</option>
        {% endfor %}
    </select></label>
</div>

<div class="form-group">
    <label for="exampleSelect1">Please select the Station:
    <select name = "station" id="exampleSelect1" class ="txt">
        {% for i in station %}
            <option value={{i}}> {{i}}</option>
        {% endfor %}
    </select></label>
</div>
    <fieldset>
    <button name="Submit" value="Login" type="Submit">Submit</button>
        </fieldset>
    <fieldset>
    <a name ="submit" href= "{% url 'Login:start_here'  %} ">Logout</a>
    </fieldset>

    <fieldset>
        <a name ="submit" href= "{% url 'Login:getStats'  %} ">GetLog</a>
    </fieldset>
</form>
</div>
</body>
</html>