{% load static %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
     <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'Login/weatherForm.css' %}">

</head>
<body>


<a class="btn btn-primary" href = "{% url 'Login:getStats'  %} " >LogStats</a>
<form action="{% url 'Login:hit'  %} " method="post" name="Login_Form" class="form-signin">

    {% csrf_token %}
    <div class="container">
	<div class="row">
    <div class="col-md-4">
		<div class="form_main">
                <h4 class="heading"><strong>Weather </strong> Information <span></span></h4>
                <div class="form">
                <form action="contact_send_mail.php" method="post" id="contactFrm" name="contactFrm">
                    <label>Please select the Year: <select name="year" required="" name="name" class="txt">
                        {% for i in year %}
                            <option value={{i}}> {{i}}</option>

                         {% endfor %}
                         </select></label>
                    <label>Please select the Month: <select name="month" required="" name="name" class="txt">
                            <option value='01'>01</option>
                            <option value='02'>02</option>
                            <option value='03'>03</option>
                            <option value='04'>04</option>
                            <option value='05'>05</option>
                            <option value='06'>06</option>
                            <option value='07'>07</option>
                            <option value='08'>08</option>
                            <option value='09'>09</option>
                            <option value='10'>10</option>
                            <option value='11'>11</option>
                            <option value='12'>12</option>
                         </select></label>

                     <label>Please select the Day: <select name="day" required="" name="day" class="txt">
                        {% for i in day %}
                            <option value={{i}}> {{i}}</option>
                         {% endfor %}
                         </select></label>

                    <label>Please select the Station: <select name="station" required="" name="station" class="txt">
                        {% for i in station %}
                            <option value={{i}}> {{i}}</option>
                         {% endfor %}
                         </select></label>
                     <button class="btn btn-primary btn-block"  name="Submit" value="Login" type="Submit">Submit</button>
                </form>
            </div>
            </div>
            </div>
	</div>
</div>
</form>
</body>
</html>